.advantage {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.advantage__list {
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
  @include flex(30px);
}
.advantage__item {
  @media screen and (min-width: 768px) {
    @include flex-basis(30px, 2);
    width: 354px;
    height: 224px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 248px;
  }
  @include flex-basis(30px, 4);
  &::before {
    content: "";
    display: block;
    height: 120px;
    border: none;
    background-image: url("../images/svg/antenna.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
    border-radius: 4px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
  @for $i from 2 through 4 {
    &:nth-child(#{$i})::before {
      @if $i == 2 {
        background-image: url("../images/svg/clock.svg");
      } @else if $i == 3 {
        background-image: url("../images/svg/diagram.svg");
      } @else if $i == 4 {
        background-image: url("../images/svg/astronaut.svg");
      }
    }
  }
}
.advantage__title {
  color: $main-color;
  font-size: 14px;
  letter-spacing: 0.42px;
  margin-bottom: 10px;
  text-align: center;  
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.advantage__text {
  color: $add-color;
  font-size: 14px;
  letter-spacing: 0.42px;
  line-height: 1.71;
}
