.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantage__list {
  display: flex;
  gap: 30px;
}
.advantage__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  &::before {
    content: "";
    display: block;
    height: 120px;
    border: none;
    background-image: url("../images/SVG/antenna.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
    border-radius: 4px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
}
.advantage__item:nth-child(2)::before {
  background-image: url("../images/SVG/clock.svg");
}
.advantage__item:nth-child(3)::before {
  background-image: url("../images/SVG/diagram.svg");
}
.advantage__item:nth-child(4)::before {
  background-image: url("../images/SVG/astronaut.svg");
}
.advantage__title {
  color: var(--main-color);
  font-size: 14px;
  letter-spacing: 0.42px;
  margin-bottom: 10px;
}
.advantage__text {
  color: var(--add-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
