.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__title {
  @extend %title;
}
.clients__list {
  @include flex(30px);
  margin-top: 30px;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}
.clients__item {
  padding: 16px 32px;
  position: relative;
  @include flex-basis(30px, 2);
  @media screen and (min-width: 768px) {
    @include flex-basis(30px, 3);
  }
  @media screen and (min-width: 1200px) {
    @include flex-basis(30px, 4);
  }
}
.clients__link {
  fill: #afb1b8;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #afb1b8 1px solid;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: $accent-color;
    border-color: $accent-color;
    cursor: pointer;
  }
}
