.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.modal__hero {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 530px;
  min-height: 580px;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: transform 500ms linear;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
  }
}
.modal__close-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:focus,
  &:hover {
    fill: $accent-color;
  }
}
.modal__title {
  color: $main-color;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal__label {
  color: $add-color;
  font-size: 12px;
  letter-spacing: 0.12px;
  position: relative;
  display: block;
  margin-bottom: 10px;
  &:nth-child(4) {
    margin-bottom: 20px;
  }
}
.modal__label-input {
  margin-top: 4px;
  padding: 12px 42px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border: 1px solid #2196f3;
  }
  &:hover + .modal__label-svg,
  &:focus + .modal__label-svg {
    fill: $accent-color;
  }
}
.modal__label-svg {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__label-textarea {
  resize: none;
  padding: 12px 16px;
  height: 96px;
  margin-top: 4px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border: 1px solid #2196f3;
  }
  &::placeholder {
    color: $add-color;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
  }
}
.modal__check {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}
.modal__input-check {
  margin-right: 7px;
}
.modal__text-agree {
  color: $add-color;
  font-size: 14px;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}
.modal__label__link__agree {
  color: $accent-color;
  text-decoration-line: underline;
}