.logo__blue {
    color: var(--accent-color);
}
.logo {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
}
.footer__logo {
    color: #fff;
    margin-bottom: 20px;
    display: inline-block;
  }